{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

        <!-- Menu -->

        {% include 'app/partials/_menu.html' %}
          <!-- / Navbar -->

          <!-- NÃO EXCLUIR -->
          <div class="content-wrapper">
            <br>
            {% include 'app/partials/_alertas.html' %}
            <h5 style="text-align: center;" class="mb-4">Solicitações</h5>
            <div style='height: 400px;' class="table-responsive text-nowrap">
              {% if solicitacoes %}
              <table  class="table card-table">
                <thead>
                  <tr>
                    <th style='text-align: center;'>Ticket</th>
                    <th>Status</th>
                    <th>Impressora</th>
                    <th>Marca</th>
                    <th style='text-align: center;'>Modelo</th>
                    <th>Quantidade</th>
                    <th>Data</th>
                    <th>Usuário</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for solicitacao in solicitacoes %}
                  <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{solicitacao.ticket}}</strong></td>
                    {% if solicitacao.status_aberto == True %}
                    <td><span class="badge bg-label-success">Em aberto</span></td>
                    {% else %}
                    <td><span class="badge bg-label-warning">Encerrado</span></td>
                    {% endif %}
                    <td>{{solicitacao.impressora}}</td>
                    <td>
                      {{solicitacao.marca}}
                    </td>
                    <td>
                      {{solicitacao.modelo}}
                    </td>
                    <td>{{solicitacao.quantidade}}</td>
                    <td>{{solicitacao.data}}</td>
                    <td>{{solicitacao.usuario}}</td>
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>    
                {% else %}              
                <p style="text-align: center;">Não há solicitações no momento!</p>
                {% endif %}
             
            </div>


    
    {% include 'app/partials/_editar_impressora_index.html' %}
    {% include 'app/partials/_excluir_impressora_index.html' %}
            <!-- / Content -->

{% include 'app/partials/_footer.html' %}
{% endblock %}