<div class="modal fade" id="adicionarImpressora" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Adicionar impressora</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
        <div class="row g-2">
            <div class="col mb-0">
                <label for="emailWithTitle" class="form-label">Código</label>
                <input type="text" id="emailWithTitle" class="form-control" placeholder="xxxx@xxx.xx">
            </div>
            <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">Setor</label>
                <input type="text" id="dobWithTitle" class="form-control" placeholder="DD / MM / YY">
            </div>
            </div>
          <div style="margin-top: 20px;" class="row g-2">
            <div class="col mb-0">
              <label for="emailWithTitle" class="form-label">Marca</label>
              <input type="text" id="emailWithTitle" class="form-control" placeholder="xxxx@xxx.xx">
            </div>
            <div class="col mb-0">
              <label for="dobWithTitle" class="form-label">Modelo</label>
              <input type="text" id="dobWithTitle" class="form-control" placeholder="DD / MM / YY">
            </div>
          </div>
          <div style="margin-top: 20px;" class="row g-2">
            <div class="col mb-0">
              <label for="emailWithTitle" class="form-label">Estoque de toners</label>
              <input type="text" id="emailWithTitle" class="form-control" placeholder="xxxx@xxx.xx">
            </div>
            <div class="col mb-0">
              <label for="dobWithTitle" class="form-label">IP</label>
              <input type="text" id="dobWithTitle" class="form-control" placeholder="DD / MM / YY">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Salvar</button>
        </div>
    </form>
      </div>
    </div>
  </div>