{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

        <!-- Menu -->

        {% include 'partials/_menu.html' %}
          <!-- / Navbar -->

          <!-- NÃO EXCLUIR -->
          <div class="content-wrapper">
            <br>
            {% include 'partials/_alertas.html' %}
            <h5 style="text-align: center;" class="mb-4">Impressoras</h5>
            <div style='height: 800px;' class="table-responsive text-nowrap">
              <table  class="table card-table">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Setor</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Toners em estoque</th>
                    <th>IP</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% if impressoras %}
                  {% for impressora in impressoras %}
                  <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{impressora.codigo}}</strong></td>
                    <td>{{impressora.setor}}</td>
                    <td>{{impressora.marca}}</td>
                    <td>
                      {{impressora.modelo}}
                    </td>
                    <td><span class="badge bg-label-danger me-1">{{impressora.qtd_toners}}</span></td>
                    <td>
                      {{impressora.ip}}
                    </td>
                    <td style='text-align: center;'>
                      {% if impressora.status == True %}
                      <i class='bx bxs-circle me-1' style='color:#00fd2c; font-size: 12px;' ></i>
                      {% else %}
                      <i class='bx bxs-circle me-1' style='color:#d60700; font-size: 12px;' ></i>
                      {% endif %}
                    </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-vertical-rounded"></i></button>
                        <div class="dropdown-menu" style="">
                          <a data-bs-toggle="modal" data-bs-target="#editUser" data-codigo="{{impressora.codigo}}" data-setor="{{impressora.setor}}" data-marca="{{impressora.marca}}" data-modelo="{{impressora.modelo}}" data-toner_estoque="{{impressora.qtd_toners}}" data-ip="{{impressora.ip}}" class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Editar</a>
                          <a data-bs-toggle="modal" data-bs-target="#onboardHorizontalImageModal" data-codigo="{{impressora.codigo}}" class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Deletar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>

    </div>
    
    {% include 'partials/_editar_impressora_index.html' %}
    {% include 'partials/_excluir_impressora_index.html' %}
            <!-- / Content -->

{% include 'partials/_footer.html' %}
{% endblock %}