<div class="modal fade" id="adicionarImpressora" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Adicionar impressora</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action={% url 'index' %} method='POST'>
          <input name='funcao' type="text" value='adiciona_impressora' style="display: none;">
          {% csrf_token %}
        <div class="row g-2" >
            <div class="col mb-0">
                <label for="emailWithTitle" class="form-label">Código</label>
                <input type="text" name='codigo' id="emailWithTitle" class="form-control" required placeholder="Exemplo: L1065">
            </div>
            <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">Setor</label>
                <input type="text" name='setor' id="dobWithTitle" class="form-control" required placeholder="Exemplo: Engenharia">
            </div>
            </div>
          <div style="margin-top: 20px;" class="row g-2">
            <div class="col mb-0">
              <label for="emailWithTitle" class="form-label">Marca</label>
              <input type="text" name='marca' id="emailWithTitle" class="form-control" required placeholder="Exemplo: Samsung">
            </div>
            <div class="col mb-0">
              <label for="dobWithTitle" class="form-label">Modelo</label>
              <input type="text" name='modelo' id="dobWithTitle" class="form-control" required placeholder="Exemplo: M4070">
            </div>
          </div>
          <div style="margin-top: 20px;" class="row g-2">
            <div class="col mb-0">
              <label for="emailWithTitle" class="form-label">Estoque de toners</label>
              <input type="number" name='toners_estoque' id="emailWithTitle" class="form-control" >
            </div>
            <div class="col mb-0">
              <label for="dobWithTitle" class="form-label">Endereço IP</label>
              <input type="text" name='ip' id="dobWithTitle" class="form-control" pattern="[0-9.]+$" required placeholder="Exemplo: 10.180.1.1">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary">Salvar</button>
        </div>
    </form>
      </div>
    </div>
  </div>