{% load static %}

<form action={% url 'impressoras' %} method='POST'>
    {% csrf_token %}
    <input name='funcao' type="text" value='adiciona_toner' style="display: none;">
    <div class="modal fade" id="entradaToner" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Entrada de toner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col mb-3">
                <label for="nameSmall" class="form-label">Usuário</label>
                <input disabled type="text" id="nameSmall" class="form-control" placeholder={{user}}>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                <label for="nameSmall" class="form-label">Ticket</label>
                <input required name='ticket' type="text" id="nameSmall" class="form-control" placeholder="">
                </div>
            </div>
            <div class="row g-2">
                <div class="col mb-0">
                <label class="form-label" for="emailSmall">Quantidade</label>
                <input name='quantidade' type="number" value=1 required class="form-control" id="emailSmall">
                </div>
                <!-- <div class="col mb-0">
                <label for="dobSmall" class="form-label">Impressora</label>
                <select name='impressora' class="form-select" tabindex="0" id="roleEx3">
                    {% if impressoras %}
                    {% for impressora in impressoras %}
                    <option value='{{impressora}}'>{{impressora}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                </div> -->
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
        </div>
    </div>
</form>